/* <===================TYPOGRAPHY & FONTS===================> */

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Quicksand&display=swap');

/* <===================CSS VARIABLES===================> */

:root{
    --h1-size: 7rem;
    --h2-size: 2.1rem;
    --h3-size: 1.7rem;
    --text-size: 1.3rem;
    --horizontal-margin-spacing:6rem;
    --grey-color-light: rgba(232,230,230,.6);
    --grey-color: rgba(232,230,230,1);
}

/* <===================UNIVERSAL CSS===================> */

*{
    box-sizing: border-box;
    /* margin: 0; */
    font-family: 'Cinzel', serif;
    color: #212121;
}
html{
    scroll-behavior: smooth;
}
.hz-margin{
    padding: 0 var(--horizontal-margin-spacing);
}
h1{
    font-size: var(--h1-size);
    font-weight: 500;
    line-height: var(--h1-size);
}
h2{
    font-size: var(--h2-size);
    font-weight: bold;
}
h3{
    font-size: var(--h3-size);
    font-weight: 500;
}

.header{
    height: 90px;
    background-color: #E9EAEC;
    top: 0;
    z-index: 999;
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 10px;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }

  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

.text{
    font-family: 'Quicksand', sans-serif;
    font-size: var(--text-size);
    line-height: 1.3rem;
}
.huge-btn{
    display: block;
    font-size: 1rem;
    background: transparent;
    border: 1px solid #212121;
    padding: 25px 50px;
    border-radius: 50px;
    width: fit-content;
    margin: 30px 0;
}
.huge-btn:hover{
    color: grey;
    border-color: grey;
    cursor: pointer;
}
.v-reposition-container{
    position: absolute;
    left: 0;
    width: 100vw;
}
.h-reposition-container{
    width: 100vw;
    position: relative;
    top: 100vh;
}
/* <===================NAVBAR===================> */

nav{
    height: 3vh;
    width: 100%;
    margin-bottom: 20vh;
}
label.logo{
    font-size: 35px;
    line-height: 80px;
    padding: 0 0 0 30px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
    list-style: none;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}
a:hover{
    color: orange;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width:1000px){
    label.logo{
        font-size: 20px;
    }
    nav ul li a{
        font-size: 15px;
    }
    html{
        font-size: 10px;
    }
}
@media (max-width:730px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(5px);
        top: 80px;
        font-weight: bold;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav li ul a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color: grey;
    }
    #check:checked ~ ul{
        left: 0;
        z-index: 1000;
    }
}

/* <===================HOME===================> */

.container-out{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.home-img{
    background-size: contain;
    background-position: center;
}
.home-img-sm{

    height: 5vh;
}
#home-img-lg{
    display: block;
    height: 40vh;
    width: 10vw;
    background-repeat: no-repeat;
}
@media (max-width:1000px){
    .container-out{
        flex-direction: column;
    }
    .home-img-sm{
        display: block;
    }
    #home-img-lg{
        display: none;
    }
}

/* <===================TIMELINE===================> */

.timeline{
    display: block;
    background-color: var(--grey-color-light);
    float: left;
    position: relative;
    top: -30vh;
    width: 100%;
    backdrop-filter: blur(4px);
    padding: 8vh var(--horizontal-margin-spacing);
    background-color: lightcyan;
}
.timeline-container{
    display: flex;
    flex-direction: row;
    margin: 8vh 0;
}
.timeline-img2{
    background-image: url("./assets/subhasish-single-4.jpg");
    height: 70vh;
    width: 30vw;
    background-position: center;
    background-size: cover;
}
.timeline-img1{
    background-image: url("./assets/ankita-single-2.jpg");
    height: 70vh;
    width: 30vw;
    background-position: center;
    background-size: cover;
}
.timings{
    margin: 5px;
}
/* .timeline-container .text{
    padding: 1rem 0 1rem 4rem;
} */
@media (max-width:1000px){
    .timeline{
        background-color: var(--grey-color);
        float: none;
        position: relative;
        top: 0;
        width: 100%;
        backdrop-filter: blur(0);
        height: fit-content;
    }
    .timeline-container{
        flex-direction: column;
    }
    .timeline-img1, .timeline-img2{
        height: 50vh;
        width: 100%;
    }
}

/* <===================STORY===================> */

#story{
    padding-top: 0vh;
    display: flex;
    flex-direction: row;
    margin: 0vh 0;
}
#story h3{
    width: 40vw;
}
#story p{
    width: 40vw;
    text-align: justify;
    font-size: var(--h3-size);
    line-height: var(--h3-size);
}
@media (max-width:1000px){
    .h-reposition-container{
        position: relative;
        top: 0;
    }
    #story{
        flex-direction: column;
    }
    #story h3{
        width: 100%;
        margin: 5px 0;
        font-size: var(--h3-size);
    }
    #story p{
        width: 100%;
        margin: 5px 0;
        font-size: var(--text-size);
        line-height: var(--text-size);
    }
}

/* <===================GALLERY===================> */

.gallery{
    display: flex;
    padding: 10vh 0;
    justify-content: center;
    align-items: center;
}
.gallery-img, .parallal-img, .menorca-img{
    width: 30vw;
    height: 30vw;
    margin: 10px;
    background-size: cover;
    background-position: center;

    border-radius: 40px 10px;
    border: solid 1px;
}
.gallery-img:nth-child(1){
    background-image: url("./assets/11.jpg");
    background-position: 0 0;
}
.gallery-img:nth-child(3){
    background-image: url("./assets/33.jpg");
}
.gallery-img:nth-child(2){
    background-position-y: top;
    background-image: url("./assets/22.jpg");
}

.parallal-img:nth-child(1){
    background-image: url("./assets/ankita-1.jpg");
    background-position: 0 0;
}
.parallal-img:nth-child(2){
    background-image: url("./assets/anksu-1.jpg");
}
.parallal-img:nth-child(3){
    background-position-y: top;
    background-image: url("./assets/subhasish-single-3.jpg");
}

.menorca-img:nth-child(1){
  background-image: url("./assets/accomodation1.jpg");
  background-position: 0 0;
}
.menorca-img:nth-child(3){
  background-image: url("./assets/bg-coninstructor.jpg");
}
.menorca-img:nth-child(2){
  background-position-y: top;
  background-image: url("./assets/adventure-cathedral-03.jpg");
}

@media (max-width:1000px){
    .gallery{
        flex-direction: column;
        padding: 0;
    }
    .gallery-img, .parallal-img{
        width: 100vw;
        height: 90vw;
        margin: 2px 0;
    }
    .gallery-img:nth-child(2){
        position: relative;
        left: -(var(--horizontal-margin-spacing));
    }
}

/* <===================QUOTE===================> */
.quote{
    margin: 10vh 0;
}
.quote h1{
    width: 55vw;
    font-size: 4rem;
    text-align: center;
    margin: auto;
}
.author{
    text-align: center;
    margin: 20px 0 10vh 0;
}
@media (max-width:1570px){
    .quote h1{
        font-size: 2rem;
        line-height: 2rem;
    }
}

/* <===================HANDS===================> */

.hands{
    height: 65vh;
    width: 100%;
    background-image: url("./assets/anksu-2.jpg");
    background-size: cover;
    background-position-x: calc(50% - 20px);
    background-repeat: no-repeat;
}

    /* <===================STAY===================> */
    #stay{
        background-color: var(--grey-color);
        padding: 10vh var(--horizontal-margin-spacing);
        width: 100%;
}

.invitation{
    background-color: ivory;
    padding: 0 25px 0 25px;
}

.invitation-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0vh 0 5vh 0;
    padding: 0vh var(--horizontal-margin-spacing) 0 var(--horizontal-margin-spacing);
}
.invitation-item .text{
    margin: 20px 0;
}
.links{
    cursor: pointer;
    text-decoration: underline;
}
@media (max-width:1000px){
    .invitation-container{
        flex-direction: column;
        margin: 10px 0;
    }
    .invitation-item{
        margin: 2vh 0;
    }
}

/* <===================REGISTRY===================> */

#registry{
    padding: 0vh var(--horizontal-margin-spacing) 0 var(--horizontal-margin-spacing);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.registry-container{
    display: block;
    width: 30vw;
}
.registry-container .text{
    text-align: justify;
    margin: 20px 0;
}
.registry-img{
    display: block;
    width: 50vw;
    background-image: url("./assets/anksu-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.registry-img-sm{
    display: none;
}
.registry-img-lg{
    display: block;
}
@media (max-width:1000px){
    #registry{
        flex-direction: column;
    }
    .registry-img{
        width: 100%;
        height: 30vh;
    }
    .registry-img-sm{
        margin-top: 5vh;
        display: block;
    }
    .registry-img-lg{
        display: none;
    }
    .registry-container{
        width: 100%;
    }
    #registry button{
        margin-inline: auto;
    }
}


/* <===================PARTING MESSAGE===================> */
.parting-message h1{
    margin-top: 10vh;
    text-align: center;
}
.parting-message button{
    margin:  10vh auto;
}

/* <===================FOOTER===================> */

footer{
    /* margin-top: 10vh; */
    height: fit-content;
    width: 100%;
    background-color: var(--grey-color);
    padding: 2vh 3vh;
}
footer h2{
    font-size: 2Srem;
    font-weight: normal;
}

/* count-down style */
.page{
	background: #f1f1f1;
	display: flex;
	flex-wrap: wrap;
}

.col{
	flex: 1;
	height: 20vh;
	position: relative;
}

.countdown{
	background-size: cover;
    background-color: ivory;
}

@media (max-width:1000px){
    .countdown{
        flex-direction: column;
        margin: 10px 0;
    }
}

.timer{
	color: #fff;
	text-transform: uppercase;
	width: 90%;
	display: flex;
	justify-content: center;
}

.middle{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.timer span{
	padding: 0 14px;
	font-size: 10px;
}

.timer span div{
	font-size: 100px;
}

.subscribe{
	width: 90%;
}

.subscribe h4{
	font-style: italic;
	font-size: 12px;
}

.subscribe input{
	display: block;
	margin: 12px auto;
	width: 100%;
	max-width: 400px;
	box-sizing: border-box;
	padding: 14px 20px;
	border-radius: 30px;
	border: 1px solid #ddd;
	outline: none;
}

.subscribe-btn{
	background: linear-gradient(125deg, #3498db, #34495e);
	color: #fff;
	cursor: pointer;
	transition: 0.4s;
}

.subscribe-btn:hover{
	opacity: .7;
}

@media screen and (max-width: 900px){
	.col{
		flex: 100%;
	}
}



/********************************************* Back to top snippet styling */
/* Set the color, size, and more for the back to top square */
.back-to-top{
    background-color: #1d284f;
    margin: 0;
    position: fixed;
    bottom: 100px;
    right: 45px;
    width: 55px;
    height: 45px;
    z-index: 100;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    border: 1px solid
  #acacac;
    box-shadow: 1px 3px 3px
  #aeaeae;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in-out;
  }
  /* Icon styles--set the icon color */
  .back-to-top i {
    font-size: 45px;
    color: white;
  }
  /* make visible when scrolled down on page */
  .back-to-top.visible {
    visibility: visible;
    opacity: 1;
  }
  /* mouse effect styles */
  .back-to-top:hover,
  .back-to-top:active,
  .back-to-top:focus {
    color:
  #ffffff;
  }


  /* volume */
  #volume-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }

  /* #volume-icon.muted {
    font-size: 24px;
    color: #ccc;
  } */

/* //////////////////////////// */
  .invitation-item {
    margin-bottom: 20px;
  }
  .text.links {
    /* color: blue; */
    cursor: pointer;
    text-decoration: underline;
  }
  /* Popup styles */
  /* .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .gallery img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin: 10px;
    border: 1px solid #ddd;
  }

  .back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
  } */
